.form {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-anchor: middle;
    font-size: 20px;
    width: 290px;
    height: 50px;
    margin-top: 30px;
    text-align: center;
}

.button {
    background-color: cornflowerblue;
}